<p id="wait-text" class="popup-header"> Waiting for Curbs choice </p>

<div id="wait-left">
	<%= render "shared/shape_no_link", shape: player_throw %>
	<p id=your-bet>Your Bet</p>
</div>

<div id="wait-right">
	<div id="loading"></div>
	<%= image_tag "curb_logo.png" %>
</div>