/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#app {
	position: fixed;
	top: 9%;
	left: 22%;
	right: 22%;
}

#header {
	text-align: left;
	font: normal normal normal 50px/61px Montserrat;
	letter-spacing: 0px;
	color: #36006C;
	opacity: 1;
	font: 50px Montserrat;
	width: 740px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#rps-description {
	text-align: left;
	font: normal normal 300 21px/32px Roboto;
	letter-spacing: 0px;
	color: #000000;
	opacity: 0.54;
	margin-bottom: 35px;
    width: 740px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#choose-throw {
	text-align: left;
	font: normal normal normal 21px/25px Montserrat;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 200px;
    margin-bottom: 50px;
}

div#shape-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.Rock {
/*	top: 513px;
	left: 394px;
*/	width: 63px;
	height: 139px;
}

.Paper {
/*	top: 491px;
	left: 648px;*/
	width: 69px;
	height: 161px;
}

.Scissors {
/*	top: 491px;
	left: 908px;*/
	width: 63px;
	height: 160px;
}

.shape {
	display: inline-block;
/*	position: fixed;
*/	cursor: pointer;
	text-align: center;
	font: normal normal normal 24px/29px Montserrat;
	letter-spacing: 0px;
	color: #36006C;
	opacity: 1;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

.selected {
	background: #F8F8F8 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
}

#popup-container {
	display: none;
}

.popup {
    position: fixed;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #0000001a;
    border-radius: 5px;
    opacity: 1;
    z-index: 100000;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    top: 0; 
	left: 0;
}

.popup-header {
	text-align: center;
	font: normal normal normal 32px/39px Montserrat;
	letter-spacing: 0px;
	color: #36006C;
	opacity: 1;
}

#popup-wait {
    width: 880px;
    height: 492px;
}

.popup-close {
	width: 20px;
    height: 20px;
    position: fixed;
    right: 32px;
    top: 32px;
    cursor: pointer;
}

#wait-text {
    position: fixed;
    top: 81px;
    left: 221px;
}

#popup-wait.shape-no-link {
	position: relative;
}

#wait-left {
    float: left;
    top: 208px;
    position: relative;
    left: 192px;
}

#wait-right {
    float: right;
    top: 280px;
    position: relative;
    right: 192px;
}


#your-bet {
	margin-top: 50px;
	text-align: center;
	font: normal normal normal 21px/25px Montserrat;
	letter-spacing: 0px;
	color: #36006C;
	opacity: 1;
}

#loading {
	margin-bottom: 112px;
}

#popup-end-screen {
	height: 591px;
	width: 492px;
}

#end-declare-winner {
	text-align: left;
	font: normal normal 300 21px/32px Roboto;
	letter-spacing: 0px;
	color: #000000;
	opacity: 0.54;
	text-align: center;
}

#end-middle {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

#end-middle .shape-no-link {
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
}

button#end-button {
    text-align: center;
    font: normal normal normal 32px/39px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #36006C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 0px;
    height: 73px;
    width: 352px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    left: 70px;
    margin-top: 90px;
}